<h1>Home Torcida Legal</h1>
<p>Torcida Legal</p>
<% if user_signed_in? %>
	<a href="/users/sign_out" data-method="delete" data-confirm="Are you sure do you want to logout?">Logout</a><br>
<% end %>
<br>
